body
{
	background-color: bisque;
    font-family: 'Open Sans', sans-serif;
}

.bg-nav
{
    background-color: rgb(27, 184, 53);
}

.btn-porches
{
    background-color: rgb(27, 184, 53);
    color: white;
    font-weight: bold;
}

.icon-facebook-official
{
    font-size: 100px;
    color: black;
}

.icon-facebook-official:hover
{
    color: rgb(59, 89, 152);
}

.porches .container p, .about .container p
{
    text-align: justify;
}

footer .container p
{
    text-align: center;
}

@media (max-width: 576px)
{
    .container p
    {
        text-align: left;
    }
}

@media (min-width: 576px) and (max-width: 768px)
{
    .icon-facebook-official
    {
        font-size: 80px;
    }
}

@media (min-width: 576px)
{
    .about img
    {
        max-width: 50%;
    }
}

@media (min-width: 768px)
{
    .porches .container p
    {
        font-size: 14px;
    }
}

@media (min-width: 992px)
{
    .porches .container p
    {
        font-size: 20px;
    }
}